/* body, html {
  height: 100%;
  margin:0;
  background: #E0EAFC;  fallback for old browsers
  background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);  Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to left, #CFDEF3, #E0EAFC); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+

} */
  
    .view {
      height: 100vh;
    }
  
    @media (max-width: 740px) {
      
      .view {
        height: 100vh;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
      
      .view {
        height: 100vh;
      }
    }
  
    @media (max-width: 991px) {
     .view{
       height: 100vh;
     }
    }

    